body {
    background-color: #f4f6f9;
    font-family: Arial, sans-serif;
}

#mainContainer {
    max-width: 900px;
}

form {
    width: 100%;
}

button {
    margin-top: 10px;
}

#recados, #adminMessages, #userList {
    max-height: 300px;
    overflow-y: auto;
}

#recados div, #adminMessages div, #userList div {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

#recados p, #adminMessages div p, #userList div p {
    margin: 0;
}