.d-none {
    display: none;
}

button {
    font-size: 1.2rem;
}

#loginForm {
    display: block;
}

#adminMenu {
    display: block;
    text-align: center;
}

#adminMenu button {
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}

#userMenu {
    display: block;
    text-align: center;
}

#userMenu button {
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}

h3 {
    margin-bottom: 20px;
}
